
$green-dark: #087d36;
$green-darker: #006d26;
$green-darkest: #006222;
$green-light: #1c8b3c;
$yellow: #feeb1b;
$orange: #fb8c00;
$red: #ff5706;
$white: white;
$grey: #f1f1f1;
$box-shadow: 0 0 4px rgb(170, 166, 166);
$fb-color: #344D82;
$twitter-color: #2AA9E0;
$yt-color: #EB2429;