@import url("../font/flaticon.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,600;0,900;1,700&display=swap");
.d-grid {
  display: grid;
}
.d-grid.col-2 {
  grid-template-columns: auto auto;
}
.d-grid.col-3 {
  grid-template-columns: auto auto auto;
}
.d-grid.col-4 {
  grid-template-columns: auto auto auto auto;
}
.d-grid.ai-center {
  align-items: center;
}
.d-grid.col-gap-30 {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.d-grid.row-gap-30 {
  row-gap: 30px;
}

.container {
  width: 80%;
  margin: auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.button-round, html #goto-top-icon, .common-card .img-container .plus, body .image-slider .card .img-container .plus, body main .card .img-container .plus {
  font-size: 1.6rem;
  position: absolute;
  bottom: -20px;
  right: 40px;
  background-color: #fb8c00;
  color: white;
  border-radius: 100%;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  box-shadow: 0 0 4px #aaa6a6;
  line-height: 35px;
}

.common-card, body .image-slider .card, body main .card {
  box-shadow: 0 0 4px #aaa6a6;
}
.common-card .img-container, body .image-slider .card .img-container, body main .card .img-container {
  position: relative;
}
.common-card .img-container img, body .image-slider .card .img-container img, body main .card .img-container img {
  width: 100%;
  display: block;
}
.common-card .img-container .duration, body .image-slider .card .img-container .duration, body main .card .img-container .duration {
  position: absolute;
  background-color: #fb8c00;
  padding: 20px;
  color: white;
  top: 20px;
  left: 0;
}
.common-card .img-container .desc, body .image-slider .card .img-container .desc, body main .card .img-container .desc {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 40px 24px;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
}
.common-card .card-footer, body .image-slider .card .card-footer, body main .card .card-footer {
  padding-top: 10px;
  padding-bottom: 30px;
}
.common-card .common-padding, body .image-slider .card .common-padding, body main .card .common-padding, .common-card .amount, body .image-slider .card .amount, body main .card .amount, .common-card .currency, body .image-slider .card .currency, body main .card .currency {
  padding-left: 24px;
  padding-right: 24px;
}
.common-card .currency, body .image-slider .card .currency, body main .card .currency {
  color: #087d36;
}
.common-card .amount, body .image-slider .card .amount, body main .card .amount {
  color: #fb8c00;
}

@media only screen and (max-width: 1224px) {
  .d-grid {
    display: block;
  }

  body .container {
    width: 90% !important;
  }
  body h1, body h2, body h3, body h4, body h5 {
    text-align: center !important;
  }
  body header {
    border-bottom: 1px solid #006222;
  }
  body header a {
    font-size: 14px !important;
  }
  body header .email {
    text-align: center;
  }
  body header ul li {
    display: block !important;
  }
  body header .burger-menu {
    display: inline-block !important;
    width: 30px;
  }
  body header .submenu {
    z-index: 3;
    left: -5vw;
    width: 90vw !important;
  }
  body header .menu {
    display: none;
  }
  body .banner {
    background-size: cover !important;
    padding: 50px 0 !important;
  }
  body .banner input {
    width: 80% !important;
  }
  body .card {
    margin-top: 30px !important;
  }
  body img {
    max-width: 100%;
  }
  body footer .col {
    margin-top: 30px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  font-family: "Mulish", sans-serif;
}
body h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 40px;
}
body header #top-header {
  background-color: #087d36;
}
body header #top-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
body header div,
body header a {
  font-size: 24px;
  color: white;
}
body header .logo {
  width: 265px;
}
body header .logo img {
  width: 100%;
}
body header i {
  vertical-align: sub;
}
body header .burger-menu {
  display: none;
}
body header nav {
  background-color: #006d26;
}
body header nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
body header nav ul li a {
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  padding: 15px 20px;
}
body header nav ul li a:hover {
  background-color: #006222;
}
body header nav ul li:hover .submenu {
  display: block;
}
body header nav ul li .submenu {
  display: none;
  width: 130%;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 4px #aaa6a6;
}
body header nav ul li .submenu li {
  display: block;
}
body header nav ul li .submenu li a {
  color: #087d36;
}
body header nav ul li .submenu li:hover, body header nav ul li .submenu li:hover a {
  background-color: #f1f1f1;
}
body .banner {
  min-height: 240px;
  background-image: url("https://www.acetravels.com/public/images/search-cover.jpg");
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #087d36;
  color: white;
  padding: 50px;
}
body .banner h2 {
  font-weight: normal;
}
body .banner input {
  padding: 11px;
  width: 60%;
  color: #c9c9c9;
}
body .banner button {
  padding: 12px;
  background-color: #fb8c00;
  border: none;
  color: white;
}
body main {
  background-color: #f1f1f1;
}
body main h1 {
  color: #006d26;
  text-transform: uppercase;
  font-size: 30px;
}
body .mid-info-slider {
  background-color: #087d36;
}
body .mid-info-slider h3 {
  font-size: 34px;
  font-style: italic;
  font-weight: 200px;
}
body .mid-info-slider i {
  color: #feeb1b;
}
body .mid-info-slider .owl-nav {
  top: 37px;
  right: 30px;
  position: absolute;
  font-size: 40px;
}
body .mid-info-slider .owl-nav .owl-prev,
body .mid-info-slider .owl-nav .owl-next {
  margin: 10px;
}
body .image-slider .card {
  margin: 15px;
}
body .image-slider .owl-nav {
  color: black;
  top: -60px;
  right: 30px;
  position: absolute;
  font-size: 40px;
}
body .image-slider .owl-nav .owl-prev,
body .image-slider .owl-nav .owl-next {
  margin: 10px;
}
body footer {
  background-color: #087d36;
}
body footer .container .col:first-child {
  color: #feeb1b;
}
body footer .container .col:first-child a {
  color: #feeb1b;
}
body footer .container .col:first-child .icons i {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  border: 1px solid #1c8b3c;
  cursor: pointer;
  color: white;
}
body footer .container .col:first-child .icons .flaticon-facebook:hover {
  background-color: #344D82;
  border-color: #344D82;
}
body footer .container .col:first-child .icons .flaticon-twitter:hover {
  border-color: #2AA9E0;
  background-color: #2AA9E0;
}
body footer .container .col:first-child .icons .flaticon-youtube:hover {
  border-color: #EB2429;
  background-color: #EB2429;
}
body footer .container ul li {
  list-style: none;
  border-bottom: 1px solid #006d26;
  padding: 5px 0;
}
body footer .container ul li,
body footer .container ul li a {
  color: white;
}
body footer .footer-bottom {
  background-color: #006222;
  padding: 20px 0;
}
body footer .footer-bottom .container .col {
  color: #c9c9c9;
}
body footer .footer-bottom .container .col a {
  color: cadetblue;
}

html {
  scroll-behavior: smooth;
}
html #goto-top-icon {
  font-size: 14px;
  bottom: 20px;
  right: 25px;
  position: fixed;
}/*# sourceMappingURL=style.css.map */